* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     // background-color: $colorSfondo;
//     font-size: $fontSize;
//     // font-family: $fontFamily;
// }

// h1 {
//     font-size: $fontSize1;
// }

// h2 {
//     font-size: $fontSize2;
// }

// h3 {
//     font-size: $fontSize3;
// }

// h4 {
//     font-size: $fontSize4;
// }