@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin icon_Headertop {
    & i {
        color: #009cff;
        margin-right: 10px;
        font-size: $fontSize;
    }
}

@mixin btn($sfondo, $spazio, $font, $colore) {
    background-color: $sfondo;
    padding: $spazio;
    color: $colore;
    border: 0;

    &:hover {
        background-color: darken($sfondo, 8);
        color: lighten($sfondo, 38);
    }
}