//colori
$primaryColor: black;
$txtColor: #989898;
$colorWhite: white;

//tipografia
$fontFamily: 'Roboto',
sans-serif;
$fontSize: 14px;

//height
$headerH: 100px;
$topHeaderH: 35px;
$bottomHeaderH: 65px;
$jumbotronHeight: 450px;

//padding
$paddingNavTop: 25px;